<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Wealth Data APP</title>
  <link href="https://fonts.googleapis.com/css?family=Saira|Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header>
    <div class="topNav">
      <div id="home" class="navText"><a href="/">HOME</a></div>
      <div id="about" class="navText">ABOUT</div>
      <div id="data" class="navText"><a href="/wealths/">DATA</a></div>
    </div>
  </header>