<% include ./partials/top.ejs %>
<%# this is a comment %>

<div class="mainContainer">
    <div class="mainPage">
      <div class="welcomeText">The Secret Society's Wealth Distribution Data-Research Center</div>
      <div class="buttons">
        <div class="mainBtn"><a href="/wealths/">COME IN</a></div>

      </div>
    </div>
  </div>



<% include ./partials/bottom.ejs %>


